<!DOCTYPE html>
<html>
   <head>
       <title>Welcome to the Online Portal</title>
   </head>
   <body style="background-color: rgb(237, 215, 219); font-family: Arial, sans-serif; padding: 40px;">
       <h1 style="text-align: center; color: #333;"> User registered successfully!<br>
        Welcome to the Online Portal</h1>

       <div style="text-align: center; font-size: 18px; margin-top: 30px;">
           <a href="/login" style="color: green; font-weight: bold;">Click here to Login</a>
       </div>
   </body>
</html>
